<!-- Modal -->
<div class="modal fade"
      [ngClass]="{'show' : show}"
      [ngStyle]="{'display' : displayValue}"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adicionar</h5>
        <button (click)="hide()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #myform="ngForm">
          <label for="title">Título</label>
          <input type="text" class="form-control" id="title" name="title" [(ngModel)]="title" required>
          <label for="description">Descrição</label>
          <input type="text" class="form-control" id="description" name="description" [(ngModel)]="description" required>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hide()">Fechar</button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="add()"
        >Adicionar</button>
      </div>
    </div>
  </div>
</div>

<span><p></p></span>
<div class="row">
  <div class="col-md-12">
          <h2 class="text-center text-dark">Quadro de Tarefas</h2>
          <span><p></p></span>
      </div>
  </div>

<div class="container">
  <div class="row" >
    <div  class="alert alert-light">
      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="display()">Adicionar</button>
    </div>
  </div>

  <div class="row" >
    <div class="col-md-4 col-sm-4">
      <div class="p-3 mb-2 bg-primary text-white text-center"><h2 cdkDrag>Todo</h2></div>
      <div
        class="todo dragList"
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todos"
        [cdkDropListConnectedTo]="[doingList, doneList]"
        (cdkDropListDropped)="drop($event)">
        <div class="alert alert-primary"
            *ngFor="let todo of todos"
            cdkDrag
            [cdkDragData]="todo"
        >
          {{todo.id}}<br>
          {{todo.title}} : {{todo.description}}<br>
          <button type="button" class="btn btn-warning btn-sm"  data-dismiss="modal" (click)="display()">Alterar</button>
          <button type="button" class="btn btn-danger btn-sm" (click)="delete()">Excluir</button>

        </div>

      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="p-3 mb-2 bg-warning text-white text-center"><h2 cdkDrag>Doing</h2></div>
      <div
        class="doing dragList"
        cdkDropList
        #doingList="cdkDropList"
        [cdkDropListData]="doing"
        [cdkDropListConnectedTo]="[todoList, doneList]"
        (cdkDropListDropped)="drop($event)">
        <div class="alert alert-warning"
            *ngFor="let todo of doing"
            cdkDrag
            [cdkDragData]="todo"
        >
          {{todo.title}}  {{todo.description}}
        </div>
      </div>
    </div>
    <div class="done col-md-4 col-sm-4">
      <div class="p-3 mb-2 bg-success text-white text-center"><h2 cdkDrag>Done</h2></div>
      <div
        class="done dragList"
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList, doingList]"
        (cdkDropListDropped)="drop($event)">
        <div class="alert alert-success"
            *ngFor="let todo of done"
            cdkDrag
            [cdkDragData]="todo"
        >
          {{todo.title}} : {{todo.description}}
        </div>
      </div>
    </div>
</div>
</div>
